.Forums,
.Games {
    h1 {
        font-family: $Rubik;
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        margin: 3vw 8vw 35px 8vw;
        span{
            color: var(--blue);
            font-size: 0.6em;
            margin-left: 15px;
            text-decoration: underline;
            cursor: pointer;
        }
    }
    .list {
        border-top: 1px solid #22226b;
        & > div {
            border-bottom: 1px solid #22226b;
            width: 100%;
            padding: 1vw 8vw;
            display: grid;
            grid-template-columns: min-content 1fr max-content max-content;
            gap: 50px;
            & > img {
                margin: auto;
            }
            .info {
                h2 {
                    font-family: $Rubik;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    letter-spacing: 0.1em;
                }
                p {
                    font-family: $Raleway;
                    font-weight: 400;
                    font-size: 12px;
                    letter-spacing: 0.1em;
                    margin-top: 10px;
                    max-width: 750px;
                }
            }
            .messages {
                padding-right: 8vw;
                h3 {
                    font-family: $Raleway;
                    font-weight: 400;
                    font-size: 36px;
                    letter-spacing: 0.1em;
                    text-align: center;
                }
                p {
                    font-family: $Raleway;
                    font-weight: 400;
                    font-size: 12px;
                    letter-spacing: 0.1em;
                    margin-top: 10px;
                    max-width: 750px;
                    text-align: center;
                    margin-right: 3px;
                }
            }
            .owner {
                img {
                    width: 46px;
                    height: 40px;
                    border-radius: 5px;
                    object-fit: cover;
                }
                p {
                    font-family: $Raleway;
                    font-weight: 700;
                    font-size: 14px;
                    letter-spacing: 0.1em;
                    margin-top: 4px;
                }
                .date {
                    font-weight: 400;
                }
            }
        }
    }
    @media (max-width: 1080px) {
        .list > div {
            padding: 20px 14vw;
            grid-template-columns: min-content 1fr;
            gap: 25px;
            .owner,
            .messages {
                display: none;
            }
        }
        h1 {
            margin: 3vw 14vw 35px 14vw;
        }
    }
    @media (max-width: 660px) {
        h1 {
            font-weight: 600;
            font-size: 24px;
        }
        .list > div {
            padding: 20px 14vw;
            grid-template-columns: min-content 1fr;
            gap: 25px;
            .owner,
            .messages {
                display: none;
            }
            & > img {
                width: 57px;
                height: 57px;
            }
            .info {
                h2 {
                    font-weight: 700;
                    font-size: 14px;
                }
                p {
                    font-weight: 400;
                    font-size: 6px;
                }
            }
        }
    }
}
.pagination {
    margin: auto;
    display: flex;
    border-bottom: 1px solid var(--blue);
    width: max-content;
    gap: 8px;
    margin-top: 3vw;
    margin-bottom: 2vw;

    p {
        font-family: $Raleway;
        font-weight: 400;
        font-size: 20px;
        color: var(--blue);
        padding: 10px 20px;
    }
    .active {
        border-bottom: 4px solid var(--blue);
    }
    @media (max-width: 660px) {
        display: none;
    }
}

