.Home {
    padding: 2vw 14vw;
    width: 100%;
    overflow: hidden;

    .FindTeam {
        margin-top: 8vw;
        & > img {
            height: 18vw;
        }
        p {
            font-weight: 600;
            font-family: $Raleway;
            font-size: 24px;
            width: 730px;
            max-width: 46vw;
            letter-spacing: 0.1em;
            margin: 1.5vw 0 3vw 4px;
        }
        div {
            display: flex;
            gap: 1vw;
            button {
                border: 3px solid var(--blue);
                background-color: transparent;
                color: var(--blue);
                border-radius: 20px;
                font-size: 32px;
                font-weight: 600;
                letter-spacing: 0.1em;
                &:first-child {
                    padding: 0.8vw 1.7vw;
                }
                &:last-child {
                    padding: 0.8vw 1vw;
                    background-color: var(--blue);
                }
            }
        }
        .big-image {
            img:first-child {
                position: absolute;
                right: 8.5vw;
                top: 1vw;
                width: 31.5vw;
                z-index: 2;
            }
            img:last-child {
                position: absolute;
                right: 3vw;
                top: 0;
                width: 53vw;
                z-index: -1;
                filter: blur(50px);
            }
            @media (max-width: 1720px) {
                img:first-child {
                    right: 9.5vw;
                    top: 8vw;
                }
                img:last-child {
                    right: 3vw;
                    top: 6vw;
                    width: 53vw;
                }
            }
            @media (max-width: 1200px) {
                img:first-child {
                    top: 148px;
                }
                img:last-child {
                    top: 123px;
                }
            }
        }
        @media (max-width: 1080px) {
            margin-top: 30px;
            overflow-x: hidden;

            & > img {
                height: auto;
                width: 25vw;
            }
            p {
                font-family: $Raleway;
                font-weight: 300;
                font-size: 18px;
                letter-spacing: 0.1em;
                max-width: 25vw;
                margin: 30px 0 40px 5px;
            }
            div {
                button {
                    border: 2px solid var(--blue);
                    font-family: $Raleway;
                    border-radius: 8px;
                    font-size: 22px;
                    &:first-child {
                        padding: 15px 35px;
                    }
                    &:last-child {
                        display: none;
                    }
                }
            }
            .big-image {
                .mobile-only {
                    position: absolute;
                    right: 14vw;
                    top: 25vw;
                    width: 440px;
                    z-index: -1;
                }
                .shadow {
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 100vw;
                    z-index: -2;
                }
            }
        }
        @media (max-width: 980px) {
            .big-image {
                .mobile-only {
                    right: 6vw;
                }
                .shadow {
                    right: 0;
                }
            }
            & > img {
                width: 250px;
            }
            p {
                max-width: 250px;
            }
        }
        @media (max-width: 980px) {
            .big-image {
                .mobile-only {
                    right: 10vw;
                    top: 35vw;
                    width: 300px;
                }
                .shadow {
                    right: 0;
                    top: 0;
                    width: 100vw;
                }
            }
            & > img {
                width: 200px;
            }
            p {
                max-width: 200px;
            }
        }
        @media (max-width: 660px) {
            margin-top: 10px;
            .big-image {
                .mobile-only {
                    top: 26vw;
                    right: 14vw;
                    width: 158px;
                }
                .shadow {
                    top: 0;
                    right: 0;
                    width: 100vw;
                }
            }
            & > img {
                width: 100px;
            }
            p {
                font-size: 6px;
                margin: 10px 0 15px 2px;
                max-width: 100px;
            }
            div button:first-child {
                font-size: 6px;
                border: 1px solid var(--blue);
                padding: 7px 20px;
                border-radius: 5px;
            }
        }
        @media (max-width: 360px) {
            .big-image {
                .mobile-only {
                    right: 5vw;
                    width: 158px;
                }
                .shadow {
                    right: 0;
                    width: 100vw;
                }
            }
        }
    }
    .SocialNetworks {
        position: fixed;
        left: 5vw;
        top: 40vh;
        display: flex;
        flex-direction: column;
        width: 42px;
        gap: 15px;
        z-index: 3;
        img:first-child {
            width: 56px;
            margin-left: -4px;
        }
        img {
            cursor: pointer;
        }
        @media (max-width: 1080px) {
            display: none;
        }
    }
    .Block2 {
        background-image: url(../../../public/img/home_image2.svg);
        padding-top: 13vw;
        padding-bottom: 12vw;
        margin-top: 5vw;
        height: fit-content;
        width: 110%;
        padding-right: 10%;
        display: grid;
        grid-template-columns: 1fr 430px;
        background-size: 110%;
        background-position-x: 23%;
        background-position-y: 1vw;
        background-repeat: no-repeat;
        @media (max-width: 1650px) {
            background-position-x: 23%;
            background-position-y: 50px;
            grid-template-columns: 3fr 2fr;
        }
        @media (max-width: 1500px) {
            background-position-x: 56%;
            background-position-y: 115px;
            display: flex;
            flex-direction: column-reverse;
            padding-right: 0;
            width: 110%;
            background-size: 124%;
            .right {
                margin-bottom: 40px;
            }
        }

        h3,
        h2 {
            font-family: $Rubik;
            font-weight: 700;
            font-size: 36px;
            letter-spacing: 0.1em;
            margin-bottom: 1vw;
            span {
                font-family: $Rubik;
                color: var(--blue);
            }
        }
        h2 {
            font-size: 64px;
            margin-bottom: 1vw;
        }
        .left {
            max-width: 651px;
            p {
                margin-bottom: 3vw;
                opacity: 70%;
                letter-spacing: 0.1em;
            }
        }
        .right {
            h3 span {
                color: var(--pink);
            }
        }
        .mobile-image {
            display: none;
        }
        @media (max-width: 1200px) {
            background-position-x: 52%;
            background-position-y: 171px;
            .left {
                max-width: 590px;
            }
        }
        @media (max-width: 1080px) {
            h3,
            h2 {
                font-size: 32px;
            }
            h2 {
                font-size: 48px;
            }
            .left {
                max-width: 500px;
            }
        }
        @media (max-width: 850px) {
            background-image: none;
            width: 100vw;
            margin-left: -14vw;
            padding-left: 14vw;
            margin-right: -14vw;
            padding-right: 14vw;
            position: relative;
            .mobile-image {
                display: block;
                position: absolute;
                left: 0;
                top: -400px;
                width: 100%;
                height: auto;
                z-index: -2;
            }
        }
        @media (max-width: 660px) {
            h3,
            h2 {
                font-size: 10px;
            }
            h2 {
                font-size: 14px;
                margin-bottom: 3px;
            }
            h3 {
                max-width: 113px;
            }
            .left {
                max-width: 165px;
                h3 {
                    font-size: 8px;
                    margin-bottom: 3px;
                }
                p {
                    font-size: 6px;
                    margin-bottom: 5px;
                }
            }
            .right {
                margin-bottom: 8px;
            }
            .mobile-image {
                top: -60vw;
            }
        }
    }
    .WhyBlock {
        margin-top: 5vw;
        position: relative;
        h2 {
            font-family: $Rubik;
            font-weight: 700;
            letter-spacing: 0.1em;
            font-size: 64px;
            margin-bottom: 1vw;
            span {
                color: var(--blue);
                font-family: $Rubik;
            }
        }
        .back {
            position: absolute;
            top: 50px;
            left: -4.5vw;
            width: 80vw;
            z-index: -1;
        }
        .astronaut {
            position: absolute;
            top: 0px;
            left: -12vw;
            width: 30vw;
            z-index: 2;
        }
        & > div {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 2vw;
            margin: 7vw auto 0 auto;
            width: fit-content;
            & > div {
                background: rgba(196, 196, 196, 0.01);
                box-shadow: inset 0px -80px 65px rgba(247, 3, 199, 0.2),
                    inset 0px 1px 40px rgba(247, 3, 199, 0.2),
                    inset 0px 4px 16px rgba(233, 233, 233, 0.2);
                backdrop-filter: blur(25px);
                border-radius: 10px;
                padding: 2.5vw 2vw;
                width: 273px;
                h3 {
                    font-family: $Rubik;
                    font-weight: 700;
                    letter-spacing: 0.1em;
                    font-size: 24px;
                    margin-bottom: 1vw;
                    color: var(--pink);
                }
                p {
                    font-family: $Raleway;
                    font-weight: 600;
                    font-size: 16px;
                }
                .blue {
                    color: var(--light-blue);
                }
            }
            & > button {
                width: 273px;
                background-color: transparent;
                color: var(--pink);
                border: 3px solid var(--pink);
                border-radius: 20px;
                padding: 0.8vw 1.7vw;
                font-weight: 600;
                font-size: 20px;
                letter-spacing: 0.1em;
            }
        }
        @media (max-width: 1700px) {
            & > div {
                grid-template-columns: repeat(2, 1fr);
            }
            .back {
                top: 10vw;
                left: 0;
                height: 800px;
                width: auto;
            }
            .astronaut {
                top: 200px;
                right: 42vw;
                left: auto;
                width: 700px;
            }
        }
        @media (max-width: 850px) {
            & > div {
                & > button {
                    width: 34vw;
                    border: 1px solid var(--pink);
                    border-radius: 5px;
                    padding: 15px 20px;
                    font-size: 12px;
                }
                & > div {
                    padding: 40px 35px;
                    width: 34vw;
                    p {
                        font-size: 12px;
                        font-weight: 600;
                        font-family: $Raleway;
                    }
                    h3 {
                        font-size: 18px;
                    }
                }
            }
        }
        .back-mobile {
            display: none;
        }
        @media (max-width: 660px) {
            margin-top: 20vw;
            h2 {
                font-weight: 600;
                font-size: 14px;
                margin-bottom: 20px;
            }
            .back {
                display: none;
            }
            .back-mobile {
                display: block;
                position: absolute;
                bottom: -100px;
                right: -14vw;
                width: 55vw;
                z-index: -1;
                height: auto;
            }
            .astronaut {
                left: -38vw;
                width: 70vw;
                top: 0px;
            }
            & > div {
                & > button {
                    width: 100px;
                    font-size: 6px;
                    padding: 5px 10px;
                }
                & > div {
                    padding: 15px 15px;
                    width: 100px;
                    border-radius: 5px;
                    p {
                        font-size: 6px;
                    }
                    h3 {
                        font-size: 8px;
                    }
                }
            }
        }
        @media (max-width: 360px) {
            .back-mobile {
                top: 10px;
            }
        }
    }
    .UserCountBlock {
        margin-top: 8vw;
        position: relative;
        padding: 6vw 0 8vw 0;

        h2 {
            font-family: $Rubik;
            font-weight: 600;
            font-size: 96px;
            max-width: 700px;
            span {
                color: var(--blue);
                font-family: $Rubik;
            }
        }
        hr {
            border-top: 2px solid var(--blue);
            max-width: 565px;
            width: 100%;
            margin: 1vw 0;
        }
        p {
            font-family: $Raleway;
            font-weight: 700;
            font-size: 32px;
            letter-spacing: 0.1em;
            margin-left: 8px;
            span {
                color: var(--blue);
                font-family: $Raleway;
            }
        }

        & > img {
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            max-width: 986px;
            height: auto;
            z-index: -1;
        }
        @media (max-width: 1700px) {
            padding-bottom: 12vw;
        }
        @media (max-width: 1400px) {
            margin-top: 15vw;
            padding: 0 0 8vw 0;
            h2 {
                max-width: 100%;
                z-index: 2;
            }
            hr {
                z-index: -1;
                max-width: 100%;
                margin-top: -8px;
            }
            & > img {
                margin-top: -4vw;
                position: relative;
                z-index: 1;
                max-width: 100%;
                width: 100%;
            }
        }
        @media (max-width: 660px) {
            width: 100vw;
            margin-left: -14vw;
            margin-right: -14vw;
            h2 {
                font-size: 24px;
                max-width: 230px;
                margin: 0 14vw 0 auto;
                z-index: 2;
                position: relative;
                span {
                    padding-right: 40px;
                }
            }
            p {
                font-size: 16px;
                text-align: center;
                margin-top: 10px;
                margin-left: 0;
                padding: 0 14vw 0 14vw;
            }
        }
    }
    .TakeTheSurveyBlock {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 7vw;
        margin: auto;
        max-width: 1200px;
        padding: 5vw 0 8vw 0;
        p {
            font-family: $Raleway;
            font-weight: 600;
            font-size: 24px;
            margin-top: auto;
        }
        h3 {
            font-family: $Rubik;
            font-weight: 600;
            font-size: 32px;
            margin-top: auto;
            span {
                font-family: $Rubik;
                color: var(--blue);
            }
        }
        & > div {
            display: flex;
            gap: 10px;
            img {
                height: 148px;
            }
        }
        @media (max-width: 1350px) {
            gap: 50px;
        }
        @media (max-width: 1100px) {
            display: flex;
            flex-direction: column-reverse;
            & > div {
                gap: 50px;
            }
        }
        @media (max-width: 660px) {
            gap: 15px;
            margin-bottom: 30px;
            p {
                font-size: 6px;
                max-width: 170px;
            }
            h3 {
                font-size: 14px;
                max-width: 150px;
            }
            & > div {
                gap: 20px;
                img {
                    height: 75px;
                }
            }
        }
    }
    .GamesBlock {
        background: linear-gradient(
            90.54deg,
            #6445fb 0.52%,
            rgba(59, 41, 149, 0.2) 69.92%
        );
        border-radius: 20px;
        padding: 3vw;
        display: grid;
        grid-template-columns: max-content 1fr;
        gap: 3vw;
        h2 {
            font-family: $Rubik;
            font-weight: 600;
            font-size: 32px;
            margin-bottom: 2vw;
            width: 130%;
            span {
                color: var(--pink);
                font-family: $Rubik;
            }
        }
        & > div {
            & > img {
                max-width: 730px;
                margin-top: -4.5vw;
                width: 105%;
            }
            & > div {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 1vw;
                width: min-content;
                img {
                    width: 143px;
                    height: 78px;
                }
            }
        }
        @media (max-width: 1265px) {
            h2 {
                max-width: 365px;
            }
            & > div > div img {
                width: 114px;
                height: 62px;
            }
        }
        p {
            font-family: $Raleway;
            font-weight: 400;
            font-size: 16px;
            margin-top: 1.2vw;
        }
        @media (max-width: 1080px) {
            display: flex;
            flex-direction: column;
            padding: 30px 40px 0 40px;
            background: linear-gradient(
                180deg,
                #6445fb 0.52%,
                rgba(59, 41, 149, 0.2) 69.92%
            );
            .right {
                display: flex;
                flex-direction: column-reverse;
            }
            & > div {
                & > img {
                    max-width: 830px;
                    margin-top: 50px;
                    width: 126%;
                    margin-left: -84px;
                }
                & > div {
                    width: 100%;
                    & > img {
                        width: 100%;
                        height: 12vw;
                    }
                }
            }
        }
        @media (max-width: 660px) {
            padding: 20px 30px 0 30px;
            p {
                font-size: 6px;
                margin-top: 1.2vw;
            }
            h2 {
                font-size: 14px;
                max-width: 170px;
                margin: 0 0 15px 3px;
            }
            & > div {
                & > img {
                    max-width: none;
                    margin-top: 30px;
                    width: 86vw;
                    margin-left: -13vw;
                }
                & > div {
                    grid-template-columns: repeat(2, 1fr);
                    gap: 15px;
                    & > img {
                        height: 15vw;
                        &:last-child {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .ChatBlock {
        margin: 2vw 0;
        display: grid;
        grid-template-columns: 1fr min-content;
        h2 {
            font-family: $Rubik;
            font-weight: 600;
            font-size: 96px;
            margin-bottom: 1vw;
            span {
                font-family: $Rubik;
                color: var(--blue);
            }
        }
        p {
            font-family: $Raleway;
            font-weight: 500;
            font-size: 16px;
        }
        img {
            max-width: 730px;
        }
        & > div {
            margin: auto 0;
        }
        @media (max-width: 1300px) {
            padding: 100px 0 150px 0;
            img {
                max-width: 35vw;
                margin-left: -10vw;
            }
        }
        @media (max-width: 1200px) {
            h2 {
                font-size: 64px;
            }
            img {
                margin-left: 0;
            }
        }
        @media (max-width: 1020px) {
            h2 {
                font-size: 48px;
            }
        }
        @media (max-width: 860px) {
            width: 86vw;
            & > div {
                margin-top: 0;
            }
            img {
                max-width: 52vw;
                margin-left: -15vw;
                margin-top: 25px;
            }
            p {
                max-width: 40vw;
            }
        }
        @media (max-width: 660px) {
            padding: 40px 0 50px 0;
            h2 {
                font-size: 24px;
                max-width: 160px;
                margin-bottom: 15px;
            }
            p {
                font-size: 6px;
                max-width: 110px;
            }
        }
    }
    .JoinToCommunityBlock {
        position: relative;
        margin-bottom: 5vw;
        & > div {
            background: linear-gradient(
                90deg,
                rgba(145, 2, 117, 0.1) 0%,
                #f703c7 100%
            );
            border-radius: 20px;
            width: 100%;
            padding: 3.5vw;
            p {
                font-family: $Rubik;
                font-weight: 600;
                font-size: 32px;
                max-width: calc(600px + 2vw);
                margin: auto;
                padding-right: 2vw;
                letter-spacing: normal;

                img {
                    width: 142px;
                    height: auto;
                    margin-bottom: -5px;
                }
            }
        }
        .game-over {
            position: absolute;
            left: -8vw;
            top: -5vw;
            width: 455px;
            height: auto;
            max-width: 24vw;
        }
        .art {
            position: absolute;
            right: -8vw;
            bottom: -1vw;
            width: 683px;
            height: auto;
            max-width: 36vw;
        }
        button {
            box-sizing: border-box;
            border: 3px solid #f703c7;
            border-radius: 20px;
            background: transparent;
            font-family: $Raleway;
            font-weight: 600;
            font-size: 20px;
            letter-spacing: 0.1em;
            color: #f703c7;
            margin: 2vw 0 2vw calc((100% - (600px + 2vw)) / 2);
            padding: 14px 60px;
        }
        @media (max-width: 1430px) {
            & > div p {
                max-width: 420px;
                padding-right: 0;
            }
            button {
                margin: 2vw 0 2vw calc((100% - 420px) / 2);
            }
        }
        @media (max-width: 950px) {
            .game-over {
                top: 7vw;
                width: 170px;
                left: -12vw;
            }
        }
        @media (max-width: 800px) {
            display: flex;
            flex-direction: column;
            & > div {
                padding-bottom: 150px;
            }
            .art {
                right: -10vw;
                bottom: 85px;
                width: 683px;
                max-width: 48vw;
            }
            .game-over {
                top: 19vw;
            }
            button {
                margin: 50px auto 0 auto;
            }
        }
        @media (max-width: 660px) {
            margin-left: -7vw;
            width: 86vw;
            & > div {
                padding-bottom: 60px;
            }
            & > div p {
                font-size: 14px;
                max-width: 180px;
                margin: 0 auto 0 5vw;
                img {
                    width: 49px;
                    margin-bottom: -1px;
                }
            }
            .art {
                right: -7vw;
                bottom: 55px;
            }
            .game-over {
                left: -5vw;
                bottom: 17px;
                top: auto;
            }
            button {
                font-size: 10px;
                border: 1px solid var(--pink);
                border-radius: 10px;
                margin: 30px auto 0 auto;
            }
        }
    }
}
