:root {
    --background: #00001d;
    --pink: #f703c7;
    --blue: #6445fb;
    --light-blue: #01ebfd;
    --font: #ffffff;
    --light-font: #3a3a5e;
}

$Raleway: "Raleway", serif;
$Rubik: "Rubik", sans-serif;
