@import "variables";
@import "libs/normalize";
@import "components";

body {
    background-color: var(--background);
}

p {
    font-size: 18px;
}

input,
textarea,
button {
    font-size: 20px;
    border: none;
    outline: none;
}

button {
    cursor: pointer;
}

.mobile-only {
    display: none;
}
@media (max-width: 1080px) {
    .mobile-only {
        display: block;
    }
}
.grecaptcha-badge {
    z-index: 5;
}
