.Header {
    display: flex;
    margin: 2vw 8vw 0 8vw;
    gap: 50px;
    & > a {
        font-weight: 600;
        font-size: 24px;
        margin: auto 0;
        letter-spacing: 0.1em;
        z-index: 3;
        & > img {
            margin-right: 60px;
        }
    }
    .logout{
        margin: auto 0 auto auto;
    }

    .active {
        text-decoration: underline;
    }
    @media (max-width: 1080px) {
        margin: 6vw 14vw;

        & > * {
            display: none;
        }
        .logo {
            display: block;
            margin: 0 0 0 auto;
            img {
                height: 9vw;
                margin-right: 0;
            }
        }
        .mobile-only {
            height: 7vw;
            margin: auto 0 5px 0;
        }
    }
    @media (max-width: 1270px) {
        gap: 24px;
    }
}
.header-mobile-only {
    display: none;
    @media (max-width: 1080px) {
        display: flex;
    }
}
