.Header {
    display: flex;
    margin: 2vw 8vw 0 8vw;
    gap: 50px;
    & > a {
        font-weight: 600;
        font-size: 24px;
        margin: auto 0;
        letter-spacing: 0.1em;
        z-index: 3;
        & > img {
            margin-right: 60px;
        }
    }
    .logout {
        margin: auto 0 auto auto;
    }

    .active {
        text-decoration: underline;
    }
    @media (max-width: 1080px) {
        margin: 6vw 14vw;
        position: relative;

        & > * {
            display: none;
        }
        .logo {
            display: block;
            margin: 0 0 0 auto;
            img {
                height: 9vw;
                margin-right: 0;
            }
        }
        .mobile-only {
            height: 7vw;
            margin: auto 0 5px 0;
        }
        .mobile-menu {
            display: block;
            position: absolute;
            top: 12vw;
            left: -28px;
            display: flex;
            flex-direction: column;
            background: rgba(0, 0, 29, 0.88);
            border: 2px solid #6445fb;
            border-radius: 10px;
            padding: 10px 20px 15px 20px;
            padding-bottom: 5px;
            z-index: 5;

            a {
                font-family: $Raleway;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                letter-spacing: 0.1em;
                border: none;
                border-bottom: 1px solid #6445fb;
                padding: 15px 10px 15px 10px;

                color: #ffffff;
            }
            :last-child {
                border: none;
            }
            .logout {
                margin: 0;
            }
            .active {
                text-decoration: none;
                font-weight: 800;
            }
        }
    }
    @media (max-width: 660px) {
        .mobile-menu {
            top: 12vw;
            left: -22px;
            border: 1px solid #6445fb;
            border-radius: 8px;
            padding: 5px 15px 5px 15px;

            a {
                font-size: 10px;
                padding: 10px 8px 10px 8px;
            }
            .active {
                font-weight: 800;
            }
        }
    }
    @media (max-width: 1270px) {
        gap: 24px;
    }
}
.header-mobile-only {
    display: none;
    @media (max-width: 1080px) {
        display: flex;
    }
}
